// basic layout of all pages

* {
  font-family: "Roboto Light", sans-serif;

  nav {
    text-transform: uppercase;
    background-color: inherit;
    color: #000000;
  }

  h1 {
    margin-top: 10rem;
  }
}
