// basic layout of all pages

* {
  font-family: "Roboto Light", sans-serif;

  nav {
    text-transform: uppercase;
    background-color: inherit;
    color: #ffffff;
    overflow: hidden;
    max-height: 5rem;
    h1 {
      font-size: 2rem;
      width: 35%;
    }
  }

  main {
    margin-top: 6rem;
    li p {
      line-height: 0;
    }
  }
}
